body {
  font-family: serif, sans-serif;
  text-align: center;
}

.main-header {
  color: palevioletred;
  background-color: purple;
}

.sub-header {
  color: fuchsia;
  background-color: bisque;
}

.list {
  color: white;
  background-color: black;
  font-size: 20px;
}

.unordered-list {
  font-size: 40px;
}

.paragraph {
  font-family: sans-serif;
  font-weight: 50;
}

.image {
  height: 300px;
  width: auto;
}